body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
input[type="text"], input[type="date"], input[type="button"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="button"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center; /* 버튼을 수직 정렬 */
}

span {
    flex-grow: 1; /* 텍스트가 최대한 공간을 차지하도록 함 */
    margin-right: 10px; /* 버튼과 텍스트 사이의 간격 조절 */
}

button {
    margin-right: 5px; /* 버튼 사이의 간격 조절 */
}

.remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
